openapi: 3.0.0
info:
  description: "Einfach Studio 開發與測試 API 的遊樂場，僅提供學習與測試使用，內容隨時會更動，請勿在 Production 使用。"
  version: "0.0.1"
  title: "Einfach Studio API Playground"
servers: 
- url: "https://api.einfachstudio.com/ajax"
tags:
- name: "movie"
  description: "電影欣賞節目表"
  externalDocs:
    description: "政府開放資料平臺"
    url: "https://data.gov.tw/dataset/6010"
paths:
  /movie/{sortType}:
    get:
      tags:
      - "movie"
      summary: "取得電影節目列表"
      description: "取得電影節目列表"
      operationId: "getMovieEventList"
      parameters:
      - in: "path"
        name: "sortType"
        description: "排序方式：最新活動 latest、熱門活動 hot、免費活動 free"
        required: true
        schema:
          type: "string"
          enum:
            - "latest"
            - "hot"
            - "free"
      - in: "query"
        name: "limit"
        schema:
          type: "integer"
          description: "資料筆數"
          default: 10
      - in: "query"
        name: "offset"
        schema:
          type: "integer"
          description: "指定資料開始 index"
          default: 0
      responses:
        200:
          description: "Success"
          content:
            application/json:
              schema:
                type: "object"
                properties:
                  response:
                    type: "object"
                    properties:
                      dataList:
                        type: "array"
                        items:
                          $ref: '#/components/schemas/MovieEvent'
                      offset:
                        type: "integer"
                      total:
                        type: "integer"
                      hasNext:
                        type: "boolean"
        400:
          $ref: "#/components/responses/Warning"
        401:
          $ref: "#/components/responses/UnauthorizedError"
        403:
          $ref: "#/components/responses/UnauthorizedError"
        500:
          $ref: "#/components/responses/Error"
components:
  responses:
    Success:
      description: "Success"
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/APISuccessResponse"
    Warning:
      description: "Invalid Parameters"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIWarningResponse'
    Error:
      description: "Server Error"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIErrorResponse'
    Paging:
      description: "Success"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PagingModel'
    UnauthorizedError:
      description: "API key is missing or invalid"
      headers:
        WWW_Authenticate:
          schema:
            type: "string"
  schemas:
    # 場次資訊
    ShowInfo:
      type: "object"
      properties:
        endTime:
          type: "string"
          format: "date-time"
        latitude: 
          type: "string"
          # pattern: "^\d{1,2}\.\d+$"
        longitude:
          type: "string"
          # pattern: "^\d{1,2}\.\d+$"
        location:
          type: "string"
        locationName:
          type: "string"
        onSales:
          type: "string"
          enum:
            - "N"
            - "Y"
        price:
          type: "string"
        time:
          type: "string"
          format: "date-time"
    # 電影活動
    MovieEvent:
      type: "object"
      properties:
        # 唯一辨識碼
        UID:
          type: "string"
          pattern: "^[0-9a-f]{24}$"
        # 活動類別
        category:
          type: "string"
          enum:
          - "8"
        # 備註
        comment:
          type: "string"
        # 簡介說明
        descriptionFilterHtml: 
          type: "string"
        # 折扣資訊
        discountInfo:
          type: "string"
        # 編輯時間
        editModifyDate:
          type: "string"
          format: "date-time"
        # 活動起始日期
        startDate:
          type: "string"
          format: "date"
        # 活動結束日期
        endDate:
          type: "string"
          format: "date"
        # 點閱數
        hitRate:
          type: "integer"
        # 圖片連結
        imageUrl:
          type: "string"
          format: "uri"
        # 主辦單位
        masterUnit:
          type: "array"
          items:
            type: "string"
        # 協辦單位
        subUnit:
          type: "array"
          items:
            type: "string"
        # 贊助單位
        supportUnit:
          type: "array"
          items:
            type: "string"
        # 其他單位
        otherUnit:
          type: "array"
          items:
            type: "string"
        # 演出單位
        showUnit:
          type: "string"
        # 活動場次資訊
        showInfo: 
          type: "array"
          items:
            $ref: "#/components/schemas/ShowInfo"
        # 來源網站名稱
        sourceWebName:
          type: "string"
        # 推廣網址
        sourceWebPromote:
          type: "string"
          format: "uri"
        # 活動名稱
        title:
          type: "string"
        # API 版本
        version:
          type: "string"
          # pattern: "^\d+\.\d+$"
        # 售票網址
        webSales:
          type: "string"
          format: "uri"
    # 分頁模型
    PagingModel:
      type: "object"
      properties:
        dataList:
          type: "array"
          items:
            type: "object"
        offset:
          type: "integer"
        total:
          type: "integer"
        hasNext:
          type: "boolean"
    APISuccessResponse:
      type: "object"
      properties:
        response:
          type: "object"
    APIWarningResponse:
      type: "object"
      properties:
        warning:
          type: "object"
    APIErrorResponse:
      type: "object"
      properties:
        error:
          type: "object"
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
externalDocs:
  description: "Github"
  url: "https://github.com/einfach-studio"
security:
  - ApiKeyAuth: []